.searchBox {
    width: 100%;
    display: flex;
  
  }
  
  .searchBar{
    justify-content: center;
    width: 80%;
    height: 5vh;
    text-align: center;
    font-size: 1.4rem;
    padding: 1.2rem;
    margin: 1rem auto;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px rgba(0,0,0,.5);
  }
  
  .searchBar:focus{
    outline: none;
  }