* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* box-sizing: border-box 하는 이유? */
}
body{
  font-family: 'monseratt', sans-serif;
}
.app {
  background-image: url('./images/summer.jpg');
  background-size: cover;
  background-position: bottom;
  transition : 6 ease;
}
.app.warm {
  background-image: url('./images/winter.jpg');
}
.searchBar {
  width: 50vw;
  height: 5vh;
  font-size: 2rem;
  padding: 0.5rem;
  margin: 1rem;
}
main {
  min-height: 100vh;
  /* background-color: linear-gradient(to bottom, rgba(0,0,0,0.2)), rgba(0,0,0,0.75); */
}
.search-box{
  width:100%
}