* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'monseratt', sans-serif;
}
.app {
  max-width: 360px;
  min-height: 100vh;
  margin: 0 auto;
  background-image: url('./images/winter.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.5 ease;
}
main{
  background-color: rgba(0,0,0,0.1);
  height:100vh;
}
.app.warm {
  background-image: url('./images/summer.jpg');
}